.clock-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: #282828;
  border: 10px solid #282828;
  border-radius: 50%;
  box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
              inset 4px 4px 10px rgba(0,0,0,0.5),
              inset -4px -4px 10px rgba(67,67,67,0.5),
              4px 4px 10px rgba(0,0,0,0.3);
  position: relative;
  -webkit-animation: aniframe 2s ease-in-out forwards 1.5s;
}
@-webkit-keyframes aniframe {
  0%{

  }
  100%{
    transform: translate(120px,0);
  }
}

