@import "clock-frame.css";
@import "clock-marker.css";
@import "clock-innerface.css";

body {
  background-color: #282828;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 80px;
}